.filtros {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
    margin-Top: 21px;
}


.input_busca {
    width: 100%;
    max-width: 360px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.botao_limpar {
    width: 1rem;
    height: 2.5rem;
    margin-top: -0.0rem;
    top: 0.34rem;
    left: 0.34rem;
    padding: 0.625rem;
    gap: 0.625rem;
    color: #282A2C;
    border: none;
    background: transparent;
}

.botao_icone {
    background: none;
    border: none;
    cursor: pointer;
    color: #273240B5;

    & svg:hover {
        color: #f08830;
    }
}

.Cash svg {
    font-size: 24px;
    /* aumenta o tamanho do ícone */
    margin-right: 8px;
    color: #22c55e;
    /* verde opcional */
    cursor: pointer;
}

.botao_credito {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.botao_debito {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 8px;
}



.botaoPequeno {
    padding: 5px 10px;
    font-size: 0.9rem;
}


.paginacao {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    /* gap: 12px; */
}

.botao_paginacao {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao_paginacao:hover {
    background-color: #0056b3;
}

.botao_paginacao:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.info_paginacao {
    font-weight: bold;
    color: #333;
}

.tabela {
    margin-top: 1.690rem;
}


.pagina_cabecalho {
    display: flex;
    justify-content: space-between;

    & .botao_novo {
        text-decoration: none;
        color: white;

        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;

        border-radius: 10px;
        background-color: #f08830;
    }
}


.cabecalho_tabela_usuarios {
    text-align: right;
    justify-content: flex-end;
    gap: 0.5rem;
}

.registros_tabela_usuarios {
    text-align: right;
    vertical-align: middle;
    width: 120px;
}



.tabela_email {
    word-break: break-word;
    white-space: normal;
    vertical-align: middle;
}

.tabela_corpo svg {
    color: #212529;
    margin: 5px;
    font-size: 25px;
}

.pagina_conteudo {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.botao_editar {
    color: #273240B5;

    & svg:hover {
        color: #f08830;
    }
}

.botao_deletar {
    border: none;
    background: none;
    color: #273240B5;

    & svg:hover {
        color: #e4504b;
    }
}

.acoes {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .pagina_conteudo {
        padding: 0.625rem;
        /* 10px */
    }

    .pagina_cabecalho {
        display: flex;
    }

    .botao_novo {
        margin-top: 0.625rem;
        /* 10px */
        margin-right: 0.625rem;
        /* 10px */
    }

    .input_busca {
        max-width: 200px;
    }
}