.topbar_conteudo {
  background-color: #1f2937;
  color: #fff;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo_container {
  display: flex;
  align-items: center;
}

.logo {
  height: 140px;
  object-fit: contain;
  margin-left: -15%;
}

.usuario_info {
  flex: 2;
  text-align: center;
  margin-left: -20%;
}

.usuario_nome {
  font-weight: bold;
  font-size: 16px;
  display: block;
}

.usuario_tipo {
  font-size: 14px;
  color: #cbd5e1;
}

.actions_container {
  display: flex;
  align-items: center;
}

.botao_deslogar {
  background: none;
  border: none;
  cursor: pointer;
  color: #8b5959;
  font-size: 22px;
  transition: transform 1s ease;
}

.botao_deslogar:hover {
  transform: scale(1.75);
  color: red;
}


.pagina_conteudo {
  margin-top: 1vh;
}










/* .topbar_conteudo {
    background-color: #f1f1f1;

    position: flex;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: flex-end;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
}

.pagina_conteudo {
    margin-top: 0.5vh;
}

.botao_deslogar {
    text-decoration: none;
    color: #070b3b;
    font-size: 3.5vh;
    display: flex;
    align-items: center;
    margin-right:20px;
}


@media screen and (max-width: 768px) {
   .topbar_conteudo {
    width: 100%;
  }
}
 */